# OS
.DS_Store
Thumbs.db
desktop.ini

# IDE 
.vscode/
.idea/
*.sublime-*
*.code-workspace

# WordPress / PHP
*.log
error_log
debug.log
wp-content/
node_modules/
vendor/

# Plugin / Theme
*.zip
*.tar.gz
.phpunit.result.cache
.phpcs.cache
build/
dist/

# Local environment
*.local.json
.env
.env.*
